.nested-fields
  .row
    %fieldset
      %legend
        = t('app.games_info')
      .large-4.columns
        = f.label :local_id
        = f.collection_select(:local_id, Team.all, :id, :name)
      .large-4.columns
        = f.label :visitor_id
        = f.collection_select(:visitor_id, Team.all, :id, :name)
      .large-4.columns
        = f.label :result
        = f.select :result, enum_option_pairs(Game, :result)
  .button.radius.round
    = link_to_remove_association t('app.remove_game'), f