%h1= Quiniela.model_name.human

%p
  %b= Quiniela.human_attribute_name(:name)
  = @quiniela.name
%p
  %b= Quiniela.human_attribute_name(:start_at)
  = @quiniela.start_at
%p
  %b= Quiniela.human_attribute_name(:end_at)
  = @quiniela.end_at
%p
  %b= Quiniela.human_attribute_name(:cost)
  = @quiniela.cost

%h1= Game.model_name.human(count: 2)

%h1= t('app.sign_up')

= form_for @quiniela do |f|
  .fields
    = f.collection_check_boxes(:user_ids, User.all, :id, :username)
  .actions
    = f.submit t('links.save')