%h1= Quiniela.model_name.human(count: 2)

%table
  %tr
    %th= Quiniela.human_attribute_name(:name)
    %th= Quiniela.human_attribute_name(:start_at)
    %th= Quiniela.human_attribute_name(:end_at)
    %th= Quiniela.human_attribute_name(:cost)
    %th
    %th
    %th
    
  - @quinielas.each do |quiniela|
    %tr
      %td= quiniela.name
      %td= quiniela.start_at
      %td= quiniela.end_at
      %td= quiniela.cost