%h1= Quiniela.model_name.human(count: 2)
%hr
%table
  %tr
    %th= Quiniela.human_attribute_name(:name)
    %th= Quiniela.human_attribute_name(:start_at)
    %th= Quiniela.human_attribute_name(:end_at)
    %th= Quiniela.human_attribute_name(:cost)
    %th= t('app.show')
    %th= t('app.sign_up')

  - @quinielas.each do |quiniela|
    %tr
      %td= quiniela.name
      %td= quiniela.start_at
      %td= quiniela.end_at
      %td= quiniela.cost
      %td= link_to t('links.show'), quiniela
      -if quiniela.unsuscribed?(current_user)
        %td= link_to t('app.sign_up'), suscribe_quiniela_path(quiniela) ,method: :post
      -else
        %td= link_to t('app.registered'), unsuscribe_quiniela_path(quiniela) ,method: :post
%hr
.button.radius.round        
  = link_to t('links.back'), quinielas_path