%h1= Quiniela.model_name.human
%p
  %b= Quiniela.human_attribute_name(:name)
  = @quiniela.name
%p
  %b= Quiniela.human_attribute_name(:start_at)
  = @quiniela.start_at
%p
  %b= Quiniela.human_attribute_name(:end_at)
  = @quiniela.end_at
%p
  %b= Quiniela.human_attribute_name(:cost)
  = @quiniela.cost

%h1= Game.model_name.human(count: 2)
  
%table
  %tr
    %th= Game.human_attribute_name(:local)
    %th
    %th= Game.human_attribute_name(:visitor)
    %th= Game.human_attribute_name(:result)
  - @quiniela.games.each do |game|
    %tr
      %td= game.local_name
      %td= 'VS'
      %td= game.visitor_name
      %td= game.result

%h1= t('app.registered_users')
- @quiniela.users.each do |user|
  = user.username
  %br

= link_to t('links.back'), root_path