= form_for @choice do |f|
  - if @choice.errors.any?
    #error_explanation
      %h2= "#{pluralize(@choice.errors.count, "error")} prohibited this choice from being saved:"
      %ul
        - @choice.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :result
    = f.select(:result, options_for_select([:nil, :empate, :local, :visitante]))
  .actions
    = f.submit t('links.save')
