%h1= Predictor.model_name.human(count: 2)

%table
  %tr
    %th= Predictor.human_attribute_name(:name)
    %th= Predictor.human_attribute_name(:start_at)
    %th= Predictor.human_attribute_name(:end_at)
    %th= Predictor.human_attribute_name(:cost)
    %th
    %th
    %th
    
  - @predictors.each do |predictor|
    %tr
      %td= predictor.name
      %td= predictor.start_at
      %td= predictor.end_at
      %td= predictor.cost
      %td= link_to t('links.show'), predictor
      %td= link_to t('links.edit'), edit_predictor_path(predictor)
      %td= link_to t('links.destroy'), predictor_path(predictor), method: :delete, data: { confirm: t('buttons.confirm') } 

%br
= link_to t('links.model.new', model: Predictor.model_name.human ), new_predictor_path
