%p
  %strong
    Name:
  = @predictor.name

%p
  %strong 
    Start at:
  = @predictor.start_at

%p
  %strong
    End at:
  = @predictor.end_at

%p
  %strong
    Cost:
  = @predictor.cost

= link_to 'Edit', edit_predictor_path(@predictor)
= link_to 'Back', predictors_path
