%h1= Team.model_name.human
%hr
%p
  %b= Team.human_attribute_name(:name)
  = @team.name
%hr
.button.radius.round  
  = link_to t('links.edit'), edit_admin_team_path(@team)

.button.radius.round
  = link_to t('links.back'), admin_teams_path
